@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/* sass template */
/* gobal classes */
button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.alert-primary {
  padding: 6px 12px !important;
}

input[type=checkbox i] {
  margin: 4px !important;
}

/* typhography classes */
.font-ubuntu {
  font-family: "Ubuntu";
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-25 {
  font-size: 35px;
}

/* color template */
.color-primary {
  color: #003859;
}

.color-primary-bg {
  background: #003859;
}

.color-secondary {
  color: #00A5C4;
}

.color-secondary-bg {
  background: #00A5C4;
}

.color-green {
  color: green;
}

.color-green-bg {
  background: green;
}

/*# sourceMappingURL=style.css.map */
