/* color template */

.color-primary {
    color: $color-primary;
}

.color-primary-bg {
    background: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-secondary-bg {
    background: $color-secondary;
}

.color-green {
    color: $color-green;
}

.color-green-bg {
    background: $color-green;
}