/* gobal classes */

button, button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.alert-primary {
    padding:6px 12px !important;
}

input[type="checkbox" i] {
    margin:4px !important;
}

