/* typhography classes */

.font-ubuntu {
    font-family: $font-ubuntu;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-25 {
    font-size: 35px;
}